@page "/intropage"

<h1>Welcome to the Itahari International College🙏</h1>
<img src="images/college.png" alt="Itahari International College" style="width:600px; height:auto; display:block; margin:auto;" />

My college is very beautiful. It has many modern facilities and a peaceful environment for studying. The campus is surrounded by lush greenery and well-maintained gardens, providing a serene atmosphere for students. The classrooms are spacious and equipped with the latest technology to enhance the learning experience. The college also has a well-stocked library, computer labs, and recreational areas for students to relax and socialize. The faculty members are highly qualified and dedicated to helping students succeed in their academic pursuits. Overall, Itahari International College is an excellent place for higher education, fostering both personal and professional growth.
